.MainLayout__MenuSection {
  background: rgb(25, 31, 44);
  border: 1px solid rgba(207, 207, 207, 0.125);
  // rbg (0 0 0 / 2%) 왜 안될까
  box-shadow: -1px 1px 6px rgb(0, 0, 0);
  border-radius: 12px;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}
