<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='//code.jquery.com/jquery-1.11.1.js'></script>
</head>
<body>
	<center>
		<div class="title">Pengdori World</div>		
		<div>
			<textarea id="chatLog" class="form-control" readonly=''></textarea>
		</div>
		<form id="chat">
			<input type="text" id="name" class="form-contorl">
			<input type="text" id="message" class="form-contorl">
			<button class="btn btn-primary" type="submit">전송</button>
		</form>
	</center>
	<script src="/javascripts/socket_io.js"></script>
</body>
</html>