<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %> 
        
        <link rel="stylesheet" href="dist/css/style.css" />
        <script src="dist/js/bundle.js"></script>
    </head>
    <body>
        <%- include('./partial/index/nav.html') %>
        <%- include('./partial/index/header.html') %>
        <%- include('./partial/index/content.html') %>        
        <%- include('./partial/index/imageitem.html') %>
        <%- include('./partial/index/content.html') %>   
        <%- include('./partial/index/footer.html') %>        
    </body>
</html>
