<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %> 
    </head>

    <body class="wrap">
        <div class="todo__wrapper">         
            <!-- 1. Nav -->
            <%- include('./partial/todo/todoNav.html') %> 

            <!-- 2. content -->
            <!-- 글 등록 -->
            <div class="container" id="todo-posting">
                <div class="card px-3 my-2">
                    <form class="card-body" method="POST" action="">
                        <h5 class="card-title">Write down what you need to do..</h5>
                        <div class="input-group mb-3">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="What do you need to do today?"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 글 목록 -->                        
            <div class="container" id="todo-postList">
                <% for(let i = 0; i < 20; i++) { %>
                <div class="card px-2 my-2 container">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
                        suscipit, rerum quos facilis repellat architecto commodi officia
                        atque nemo facere eum non illo voluptatem quae delectus odit vel
                        itaque amet.
                    </span>
                </div>
                <% } %>
            </div>

            <!-- 3. Footer -->
            <%- include('./partial/todo/todoFooter.html') %>
        </div>
    </body>

</html>
