<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %>
    </head>

    <body class="wrap">
        <div class="todo__wrapper">
            <!-- 1. Nav -->
            <%- include('./partial/todo/todoNav.html') %>

            <!-- 2. editor -->
            <div class="container bg-light rounded-sm p-3 my-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Subject</span>
                    </div>
                    <input type="text" class="form-control" />
                </div>

                <div class="card p-1 my-2 container" id="toast_editor"></div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mr-1">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-secondary">
                        Cancel
                    </button>
                </div>
            </div>

            <!-- 3. Footer -->
            <%- include('./partial/todo/todoFooter.html') %>
        </div>
    </body>
</html>
