<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('./partial/vendors.html') %>
    </head>

    <body class="wrap">
        <div class="todo__wrapper">
            <!-- 1. Nav -->
            <%- include('./partial/todo/todoNav.html') %>

            <!-- 2. content -->
            <!-- 글 등록 -->
            <%- include('./partial/todo/todoPosting.html') %>

            <!-- 글 목록 -->
            <%- include('./partial/todo/todoPostlist.html') %>
            
            <!-- 3. Footer -->
            <%- include('./partial/todo/todoFooter.html') %>
        </div>
    </body>
</html>
