<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glog</title>
    <link rel='stylesheet' href='/main/css/main.css' />
</head>
<body>
    <button class = "newDoc">새 글</button>
    <button class = "newDoc">글 목록</button>
    <img src = "/main/images/slime.png">
    <script type="module", src = "/main/js/main.js"></script>
</body>
</html>