.unseen {
  display: none;
}

button {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  border: 1px solid black;
}

input {
  border-radius: 3px;
  border: 1px solid black;
}

.user {
  margin-top: 1rem;
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__list {
  border: 1px solid black;
  border-radius: 0.7rem;
  position: relative;
  padding: 0.5rem;
  padding-top: 0rem;
  height: 10rem;
  width: 18rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user__list li {
  padding-top: 0.5rem;
}

.user__list li input {
  width: 8rem;
}

.user__start-button {
  margin-top: 1rem;
  width: 19rem;
}

.roulette__folder {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 10px;
  left: 151px;
}

.roulette {
  position: relative;
  width: 19rem;
  margin-left: 1rem;
}

.roulette__circle--wrapper {
  border-radius: 100%;
  overflow: hidden;
}

.roulette__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 13px;
  left: 140px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 20px;
  height: 20px;
  z-index: 2;
}

.roulette__item {
  text-align: center;
}

.roulette__item li {
  position: relative;
  overflow: hidden;
  padding-top: 0.5rem;
}

.roulette__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  padding: 0.5rem;
  width: 18rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result {
  position: absolute;
  width: 700px;
  height: 565px;
  margin-right: 1rem;
  left: 340px;
  top: 16px;
  border: 1px solid black;
}

.result ul {
  position: absolute;
  height: 525px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result__team-blue {
  top: 20px;
  left: 20px;
}

.result__team-blue li {
  border: 1px solid blue;
}

.result__team-blue li .slide-item {
  position: relative;
  left: -200px;
}

.result__team-red {
  top: 20px;
  left: 480px;
}

.result__team-red li {
  border: 1px solid red;
}

.result__team-red li .slide-item {
  position: relative;
  left: 200px;
}

.result li {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 89px;
  width: 200px;
  overflow: hidden;
}

.result li .slide-item {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result li .slide-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result li .slide-item div img {
  margin-right: 10px;
  height: 38px;
}

.slide-right {
  -webkit-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.slide-left {
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate3d(-200px, 0, 0);
  -webkit-transition: 300ms;
  transition: 300ms;
}
/*# sourceMappingURL=style.css.map */