.unseen {
	display: none;
}
button{
	background-color: rgba($color: black, $alpha: 0.1);
	border-radius: 5px;
	border: 1px solid black;
}
input{
	border-radius: 3px;
	border: 1px solid black;
}
.user {
	margin-top: 1rem;
	margin-left: 1rem;
	&__list {
		border: 1px solid black;
		border-radius: 0.7rem;
		position: relative;
		padding: 0.5rem;
		padding-top: 0rem;
		height: 10rem;
		width: 18rem;
		background-color: white;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		li {
			padding-top: 0.5rem;
			input {
				width: 8rem;
			}
		}
	}
	&__start-button {
		margin-top: 1rem;
		width: 19rem;
	}
	align-items: center;
}
.roulette__folder{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	top:10px;
	left:151px;
}
.roulette {
	position: relative;
	width: 19rem;
	margin-left: 1rem;
	&__circle--wrapper {
		border-radius: 100%;
		overflow: hidden;
	}
	&__arrow {
		display: flex;
		position: absolute;
		top: 13px;
		left: 140px;
		transform: rotate(180deg);
		width: 20px;
		height: 20px;
		z-index: 2;
	}
	&__item {
		text-align: center;
		li {
			position: relative;
			overflow: hidden;
			padding-top: 0.5rem;
		}
	}
	&__controller {
		display: flex;
		z-index: 4;
		padding: 0.5rem;
		width: 18rem;
		align-items: center;
		justify-content: space-evenly;
	}
}
.result {
	position: absolute;
	width: 700px;
	height: 565px;
	left: 340px;
	top: 16px;
	border: 1px solid black;
	ul {
		position: absolute;
		height: 525px;
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__team-blue {
		top: 20px;
		left: 20px;
		li {
			border: 1px solid blue;
			.slide-item {
				position: relative;
				left: -200px;
			}
		}
	}
	&__team-red {
		top: 20px;
		left: 480px;
		li {
			border: 1px solid red;
			.slide-item {
				position: relative;
				left: 200px;
			}
		}
	}
	li {
		margin-top: 8px;
		margin-bottom: 8px;
		height: 89px;
		width: 200px;
		overflow: hidden;
		.slide-item {
			height: 89px;
			display: flex;
			font-size: 150%;
			justify-content: space-evenly;
			flex-direction: column;
			align-items: center;
			div{
				display: flex;
				align-items: center;
				img{
					margin-right: 10px;
					height: 38px;
				}
			}
		}
	}
}

.slide-right {
	transform: translate3d(200px, 0, 0);
	transition: 300ms;
}
.slide-left {
	transform: translate3d(-200px, 0, 0);
	transition: 300ms;
}
