<div class="container" id="todo-posting">
    <div class="card px-3 my-2">
        <div class="card-body">
            <h5 class="card-title">Write down what you need to do..</h5>
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    placeholder="What do you need to do today?"
                    id="subject"
                    autocomplete="off"
                />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="add">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
