center {
	display: flex;
	justify-content: center;
}

#background {
	width: 50%;
	height: 90%;
	padding: 0 10px;
	text-align: center;
}

#char_box {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.list_title {
	display:flex;
	justify-content:center;
	width: 300px;
	height:55px;
	margin-top: 40px;
	align-items:center;
	border-radius: .25rem .25rem 0 0;
	font-weight: bold;
	font-size: 150%;
	background: #494949;
	color: white;
	border-bottom: 1px solid black;
}

.user_name_box {
	display: flex;
}

.user_name {
	width:50%;
	background: #494949;
	color: white;
	padding: 5px 0;
}

.textarea_box {
	height: 600px;
}

.chatLog {
	width:100%;
	height: 100%;
	background-color: #494949;
	box-sizing:border-box;
	border: 1px solid;
	border-bottom: none;
	overflow:scroll;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.chatLog::-webkit-scrollbar {
	display:none;
}

.chat {
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items: center;
}

#name { 
	background-color: #494949;
	color:white;
	font-size: 200%;
	text-align: center;
	width: 25%; 
	height:50px;
}

#message { 
	background-color: #494949;
	color:white;
	font-size: 200%;
	width: 65%;
	height:50px;
}

.btn {
	width:10%;
	background-color:cornflowerblue;
	border: 1px solid;
	height: 55px;
	text-align: center;
	padding:0;
	border-radius: 3px;
}

.title {
	display:flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 65px;
	background-color: #494949;
	color: white;
	border-radius: .25rem .25rem 0 0;
	font-weight: bold;
	font-size: 300%;
	box-sizing: border-box;
}

.version {
	text-align: right;
	height:30px;
	font-size: 20px;
	font-weight: bold;
	background-color: #494949;
	color:white;
	box-sizing: border-box;
	padding-right:10px;
}

.speech_bubble {
	position:relative;
	float:left;
	width:100%;
	align-items: right;
}

.disconnect_speech_bubble {
	width:100%;
	text-align:center;
	color:white;
	background-color: #494949;
}

.disconnect_speaker {
	border-radius: 5px;
	outline: 1px;
	background-color: #706b6b;
	color:white;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	font-size: 15px;
}

.bubble {
	font-size: 120%;
	border-radius: 5px;
	outline: 1px;
	background-color: #706b6b;
	color:white;
	display: inline-block;
	float:left;
	padding: 0 5px;
	margin: 5px 5px 5px 20px;
	text-align: left;
}

.float_right {
	text-align: right;
	float:right;
	margin-right: 20px;
	padding-right: 10px;
}