<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glog 로그인</title>
</head>
<body>
    <container class = "login-page">
        <a href="/" class = "home-btn">Glog</a>
        <container class = "login-container">
            <form action="/auth/login_process" method="POST" class ="login-form" >
                <input type="password" name="pwd" placeholder="password">
                <input type="submit" value="Login">
            </form>
        </container>
    </container>
</body>
</html>