$all--bgColor: #56baed;
$all--fontFamily: 'Poppins Light', NanumGothic, '나눔고딕', 'Nanum Gothic', 'Malgun Gothic',
    '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, Arial, sans-serif;

$auth--errColor: #f95139;
