table {
  border-collapse: collapse;
  font-size: 0.8rem;
}
td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 102px;
  min-height: 22px;
}

.column-index,
row-index {
  td:first-child {
    min-width: 46px;
  }
  td {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    height: 26px;
    text-align: center;
    font-weight: 600;
    line-height: 26px;
  }
}
